{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "no-loops"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": 2, // require explicit function return types
    "semi": ["error", "always"],   // requires semicolons at the end of statements
    "no-console": 2,               // disallow console.log() statements
    "no-loops/no-loops": 2,        // disallow for and while loops
    "no-inner-declarations": 0,    // allow functions inside of functions
    "no-trailing-spaces": "error", // disallow trailing spaces at the end of lines
    "@typescript-eslint/no-unused-vars": 2, // disallow unused variables

    // sort imports
    "sort-imports": ["error", {
      "ignoreCase": true,
      "ignoreDeclarationSort": false,
      "ignoreMemberSort": false,
      "memberSyntaxSortOrder": ["none", "all", "multiple", "single"],
      "allowSeparatedGroups": false
    }]
  },
  "overrides": [
    {
      // don't require function return types on API routes
      "files": ["pages/api/*"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off"
      }
    },
    {
      // don't require function return types on files which return Components
      "files": ["**/*.tsx"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off"
      }
    }
  ]
}