.commit-group-container {
  margin: 0 0 1.25rem;
}

.commit-group-timestamp {
  font-size: 0.8rem;
  color: var(--commit-group-timestamp-color);
}

.commit-group-commit-range {
  font-size: 0.8rem;
  color: var(--commit-group-commit-range-color);
}

.commit-group-commit-list {
  margin: 1rem 0 2rem 0;
  font-size: 1.0rem;
}

.commit-group-commit-sha {
  font-family: 'Fira Code', Courier, monospace;
}

.commit-group-commit-message {
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}