@import "../public/fonts/fira-code.css";
@import "../public/highlight/stackoverflow-dark.min.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  --alpha: 1.0;
  --hsl: 231, 40%, 5%;
  background-color: hsla(var(--hsl), var(--alpha));
  color: #ccc;
}

* {
  box-sizing: border-box;
}

a {
  color: hsla(231, 90%, 80%, 1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

pre {
  border-radius: 0.3em;
  padding: 1.1rem;
  line-height: 1.1em;
  background-color: #1c1b1b;
  overflow-x: scroll;
  margin: 1.3em 0 1.3em 0;
}

code {
  font-size: 0.75em;
  font-family: 'Fira Code', monospace;
}

pre code.hljs {
  padding: 0;
}

.processedMarkdown :not(pre) code {
  --alpha: 1.0;
  --hsl: 231, 40%, 20%;
  background: hsla(var(--hsl), var(--alpha));
  color: #ccc;
  margin: 0 0.1rem 0 0.1rem;
  padding: 0.1rem 0.3rem 0.1rem 0.3rem;
  border-radius: 0.2rem;
  position: relative;
  top: -0.1rem;
  font-size: 85%;
}

.processedMarkdown h3 {
  margin-top: 2.5rem;
}

.commitMessage {
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disclaimer {
  font-size: 60%;
  text-align: center;
  border: 0.1rem solid grey;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.layout-container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.layout-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout-backToHomeTop {
  margin: 0;
}

.layout-backToHomeBottom {
  margin: 3rem 0 0;
}

.utils-borderCircle {
  border-radius: 9999px;
}

.utils-heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.utils-colorInherit {
  color: inherit;
}

.utils-headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.utils-headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.utils-headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.utils-sha {
  font-family: 'Fira Code', Courier, monospace;
}

.utils-updateTimestamp {
  font-size: 0.8rem;
  color: #999;
}

.utils-lastUpdated {
  color: #666;
  display: block;
  font-size: 0.8rem;
}

.utils-lastUpdated:before {
  content: "Updated: ";
}

.utils-published {
  color: #CCC;
  display: block;
}

.utils-blogPost img {
  border: 1px solid white;
}

.utils-blogPost blockquote {
  font-style: italic;
  border-left: 2px solid white;
  margin-left: 1rem;
  padding-left: 1rem;
}

.utils-updateTitle {
  font-size: 1.2rem;
}

.utils-updateSubtitle {
  font-size: 0.8rem;
  color: #999;
}

.utils-updateBody {
  margin: 1rem 0 2rem 0;
  font-size: 1.0rem;
}

.utils-updateBody h3 {
  margin-top: 2.5rem;
}

.utils-lightText {
  color: #666;
}