html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: hsla(231, 40%, 5%, 1);
  color: #ccc;
}

* {
  box-sizing: border-box;
}

a {
  color: hsla(231, 90%, 80%, 1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

p {
  text-align: justify;
}

.hljs-string {
  color: yellow;
}

.hljs-comment {
  color: grey;
}

.hljs-keyword {
  color: green;
}

.hljs-built_in {
  color: lightgreen;
}

.hljs-title {
  color: purple;
}

.hljs-class {
  color: pink;
}

.hljs-function {
  color: lightblue;
}

.hljs-params {
  color: orange;
}

.hljs-number {
  color: orangered;
}

.hljs-meta {
  color: darkgrey;
}

.hljs-variable {
  color: red;
}

.hljs-type {
  color: blue;
}

pre {
  overflow-x: scroll;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: 1rem;
  font-size: smaller;
  background-color: black;
}