html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  --alpha: 1.0;
  --hsl: 231, 40%, 5%;
  background-color: hsla(var(--hsl), var(--alpha));
  color: #ccc;
}

* {
  box-sizing: border-box;
}

a {
  color: hsla(231, 90%, 80%, 1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.hljs-string {
  color:sandybrown;
}

.hljs-comment {
  color: grey;
}

.hljs-keyword {
  color: plum;
}

.hljs-built_in {
  color: mediumspringgreen;
}

.hljs-title {
  color: mediumspringgreen;
}

.hljs-class {
  color: mediumspringgreen;
}

.hljs-function {
  color: khaki;
}

.hljs-params {
  color: lightskyblue;
}

.hljs-number {
  color: orangered;
}

.hljs-meta {
  color: darkgrey;
}

.hljs-variable {
  color: red;
}

.hljs-type {
  color: blue;
}

pre {
  border-radius: 0.5em;
  padding: 1.4rem;
  line-height: 1.1em;
  --alpha: 0.05;
  --hsl: 231, 40%, 100%;
  background-color: hsla(var(--hsl), var(--alpha));
  overflow-x: scroll;
}

code {
  font-size: 0.75em;
  font-family: 'Fira Code', monospace;
}