.processed-markdown h1 {
  font-size: 2.0rem;
  margin-top: 3.0rem;
}

.processed-markdown h2 {
  font-size: 1.5rem;
  margin-top: 2.5rem;
}

.processed-markdown h3 {
  font-size: 1.25rem;
  margin-top: 2.0rem;
}

/* begin: collapse margins when <h1> is immediately followed by <h2> (ditto for <h2><h3>) */

.processed-markdown h1+h2 {
  margin-top: -2.0rem;
}

.processed-markdown h2+h3 {
  margin-top: -1.5rem;
}

/* end: collapse margins when <h1> is immediately followed by <h2> (ditto for <h2><h3>) */

/* begin: style for tables in processed markdown */
.processed-markdown table {
  margin: auto;
  border-collapse: collapse;
}

/* used in 20-intriguing-unusual-and-goofy-programming-languages.md */
.processed-markdown th {
  border: 1px solid;
  border-color: var(--processed-markdown-table-border-color);
  padding: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  background-color: var(--processed-markdown-th-bg-color);
}

/* used in 20-intriguing-unusual-and-goofy-programming-languages.md */
.processed-markdown td {
  border: 1px solid;
  border-color: var(--processed-markdown-table-border-color);
  padding: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

/* end: style for tables in processed markdown */

/* center-align images horizontally */
.processed-markdown p img {
  margin: auto;
}

.processed-markdown img {
  border: 1px solid;
  border-color: var(--processed-markdown-img-border-color);
}

.processed-markdown blockquote {
  font-style: italic;
  border-left: 2px solid;
  border-left-color: var(--processed-markdown-blockquote-border-left-color);
  margin-left: 1rem;
  padding-left: 1rem;
}

/* blockquotes are italic by default, so italic text inside a blockquote should be "un-italic" */
.processed-markdown blockquote em {
  font-style: normal;
}

/* begin: do not italicise code in <em>s, <pre>s, etc. */

.processed-markdown blockquote pre {
  font-style: normal;
}

.processed-markdown blockquote code {
  font-style: normal;
}