.social-buttons-container {
  text-align: right;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.social-buttons-button {
  display: inline-block;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.social-buttons-button button {
  /* center the buttons vertically */
  display: flex;
}