.socialButtons {
  text-align: right;
  margin-top: 2rem;
}

.socialButton {
  display: inline-block;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.socialButton button {
  /* center the buttons vertically */
  display: flex;
}