@import "../public/fonts/fira-code.css";

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.updateTimestamp {
  font-size: 0.8rem;
  color: #999;
}

.updateTitle {
  font-size: 1.2rem;
}

.updateSubtitle {
  font-size: 0.8rem;
  color: #999;
}

.updateBody {
  margin: 1rem 0 2rem 0;
  font-size: 1.0rem;
}

.updateBody h3 {
  margin-top: 2.5rem;
}

.blogPost img {
  border: 1px solid white;
}

.blogPost blockquote {
  font-style: italic;
  border-left: 2px solid white;
  margin-left: 1rem;
  padding-left: 1rem;
}

.published {
  color: #CCC;
  display: block;
}

.lastUpdated {
  color: #666;
  display: block;
  font-size: 0.8rem;
}

.lastUpdated:before {
  content: "Updated: ";
}